In [1]:
from os import name
import pandas as pd
import streamlit as st
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots
from PIL import Image
import datetime

In [2]:
import pandas as pd

In [3]:
df=pd.read_excel('Project/PMKVY DATA.xlsx')

In [4]:
df

,Candidate Name,Centre State,Centre Name,Scheme,Job Role,Certified,Candidate Placed,Salary,TP1,TP2,TP3,Year
0,PAVADA SAIKUMARI,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,NaN,NaN,NaN,NaN,2015-06-03
1,CHELUBOYINA SAILATHA,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,NaN,No,NaN,NaN,NaN,NaN,2015-06-03
2,DAMARASINGI RAMESH,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,NaN,NaN,NaN,NaN,2015-06-03
3,Boddana Vinodkumar,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No,NaN,NaN,NaN,NaN,2015-06-03
4,Dasari Satyannarayana,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No,NaN,NaN,NaN,NaN,2015-06-03
...,...,...,...,...,...,...,...,...,...,...,...,...
40335,Botla Mounika,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,NaN,NaN,NaN,NaN,17/03/2020
40336,Gadam Deepthi,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,Not Appeared,No,NaN,NaN,NaN,NaN,17/03/2020
40337,Lingubotu Deepika,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,NaN,NaN,NaN,NaN,17/03/2020
40338,Kallubhavi Lakshmi,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,NaN,NaN,NaN,NaN,17/03/2020
40339,GUDIYA KUMARI SINGH,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,NaN,NaN,NaN,NaN,17/03/2020

In [5]:
df['Scheme'][0].split()[0]

'PMKVY'

In [6]:
df.isna().sum()

Candidate Name          0
Centre State            0
Centre Name             0
Scheme                  0
Job Role                0
Certified            7885
Candidate Placed    25239
Salary              40340
TP1                 40340
TP2                 40340
TP3                 40340
Year                    0
dtype: int64

In [7]:
df['Certified'].shape

(40340,)

In [8]:
df['Certified']=df['Certified'].fillna('No')

In [9]:
df.isna().sum()

Candidate Name          0
Centre State            0
Centre Name             0
Scheme                  0
Job Role                0
Certified               0
Candidate Placed    25239
Salary              40340
TP1                 40340
TP2                 40340
TP3                 40340
Year                    0
dtype: int64

In [10]:
df['Candidate Placed']=df['Candidate Placed'].fillna('No')

In [11]:
df.isna().sum()

Candidate Name          0
Centre State            0
Centre Name             0
Scheme                  0
Job Role                0
Certified               0
Candidate Placed        0
Salary              40340
TP1                 40340
TP2                 40340
TP3                 40340
Year                    0
dtype: int64

In [12]:
df.head()

,Candidate Name,Centre State,Centre Name,Scheme,Job Role,Certified,Candidate Placed,Salary,TP1,TP2,TP3,Year
0,PAVADA SAIKUMARI,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,NaN,NaN,NaN,NaN,2015-06-03
1,CHELUBOYINA SAILATHA,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,No,No,NaN,NaN,NaN,NaN,2015-06-03
2,DAMARASINGI RAMESH,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,NaN,NaN,NaN,NaN,2015-06-03
3,Boddana Vinodkumar,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No,NaN,NaN,NaN,NaN,2015-06-03
4,Dasari Satyannarayana,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No,NaN,NaN,NaN,NaN,2015-06-03

In [13]:
df['Year'].unique()

array(['2015-06-03', '2015-06-04', '2015-06-05', '2015-06-06',
       '2015-06-08', '2015-06-13', '2015-06-17', '2015-06-18',
       '2015-06-26', '2015-07-01', '2015-06-27', '2015-07-06',
       '2015-07-09', '2015-07-16', '2015-06-29', '2015-07-13',
       '2015-07-02', '2015-07-07', '2015-07-03', '2015-07-08',
       '2015-07-10', '2015-07-11', '2015-07-14', '2015-07-15',
       '2015-08-24', '2015-08-31', '2015-08-27', '2015-09-02',
       '2015-09-01', '2015-09-03', '2015-09-04', '2015-09-30',
       '2015-10-02', '2015-10-01', '2015-10-03', '2015-10-05',
       '2015-10-27', '2015-10-28', '2015-10-29', '2015-10-30',
       '2015-11-02', '2015-11-07', '2015-10-31', '2015-11-03',
       '2015-11-09', '2015-11-04', '2015-11-06', '2015-11-05',
       '2015-11-20', '2015-11-08', '2015-11-23', '2015-11-14',
       '2015-11-18', '2015-11-16', '2015-12-01', '2015-11-28',
       '2015-12-03', '2015-12-07', '2015-12-09', '2015-12-12',
       '2015-12-18', '2015-12-17', '2015-12-19', '2015-12-21',
       '2015-12-22', '2015-12-24', '2015-12-28', '2015-12-29',
       '2015-12-30', '2015-12-27', '2015-12-26', '2016-01-02',
       '2015-12-31', '2016-01-04', '2016-01-01', '2016-01-08',
       '2016-01-05', '2016-01-03', '2016-01-06', '2016-01-07',
       '2016-01-09', '2016-01-11', '2016-01-15', '2016-01-12',
       '2016-01-13', '2016-01-19', '2016-01-20', '2016-01-10',
       '2016-01-18', '2016-01-22', '2016-01-21', '2016-01-17',
       '2016-01-25', '2016-01-23', '2016-01-26', '2016-01-27',
       '2016-01-28', '2016-01-30', '2016-01-29', '2016-02-01',
       '2016-02-02', '2016-02-03', '2016-02-08', '2016-02-04',
       '2016-01-31', '2016-02-09', '2016-02-06', '2016-02-05',
       '2016-02-10', '2016-02-11', '2016-02-07', '2016-02-12',
       '2016-02-13', '2016-02-15', '2016-02-17', '2016-02-18',
       '2016-02-14', '2016-02-16', '2016-02-19', '2016-02-20',
       '2016-02-22', '2016-02-21', '2016-02-23', '2016-02-24',
       '2016-02-25', '2016-02-26', '2016-02-27', '2016-02-28',
       '2016-02-29', '2016-03-02', '2016-03-04', '2016-03-03',
       '2016-03-05', '2016-03-01', '2016-03-06', '2016-03-07',
       '2016-03-09', '2016-03-08', '2016-03-10', '2016-03-29',
       '2016-03-30', '2016-04-06', '2016-04-07', '2016-04-12',
       '2016-04-15', datetime.datetime(2017, 1, 25, 0, 0),
       datetime.datetime(2017, 2, 4, 0, 0),
       datetime.datetime(2017, 2, 14, 0, 0),
       datetime.datetime(2017, 3, 4, 0, 0),
       datetime.datetime(2017, 3, 11, 0, 0),
       datetime.datetime(2017, 3, 15, 0, 0),
       datetime.datetime(2017, 6, 5, 0, 0),
       datetime.datetime(2017, 6, 12, 0, 0),
       datetime.datetime(2017, 6, 21, 0, 0),
       datetime.datetime(2017, 7, 7, 0, 0),
       datetime.datetime(2017, 7, 31, 0, 0),
       datetime.datetime(2017, 8, 12, 0, 0),
       datetime.datetime(2017, 9, 4, 0, 0),
       datetime.datetime(2017, 9, 19, 0, 0),
       datetime.datetime(2017, 10, 14, 0, 0),
       datetime.datetime(2017, 11, 3, 0, 0),
       datetime.datetime(2017, 11, 23, 0, 0),
       datetime.datetime(2017, 12, 19, 0, 0),
       datetime.datetime(2018, 1, 5, 0, 0),
       datetime.datetime(2018, 1, 18, 0, 0),
       datetime.datetime(2018, 1, 3, 0, 0),
       datetime.datetime(2018, 3, 14, 0, 0),
       datetime.datetime(2018, 2, 3, 0, 0),
       datetime.datetime(2018, 3, 19, 0, 0),
       datetime.datetime(2018, 3, 8, 0, 0),
       datetime.datetime(2018, 2, 22, 0, 0),
       datetime.datetime(2018, 2, 28, 0, 0),
       datetime.datetime(2018, 3, 10, 0, 0),
       datetime.datetime(2018, 3, 21, 0, 0),
       datetime.datetime(2017, 1, 18, 0, 0),
       datetime.datetime(2017, 1, 24, 0, 0),
       datetime.datetime(2017, 3, 6, 0, 0),
       datetime.datetime(2017, 3, 31, 0, 0),
       datetime.datetime(2017, 3, 13, 0, 0),
       datetime.datetime(2017, 7, 15, 0, 0),
       datetime.datetime(2017, 5, 13, 0, 0),
       datetime.datetime(2017, 5, 30, 0, 0),
       datetime.datetime(2017, 7, 10, 0, 0),
       datetime.datetime(2017, 6, 24, 0, 0),
       datetime.datetime(2017, 9, 1, 0, 0),
       datetime.datetime(2017, 2, 7, 0, 0),
       datetime.datetime(2017, 2, 25, 0, 0),
       datetime.datetime(2017, 3, 24, 0, 0),
       datetime.datetime(2017, 3, 8, 0, 0),
       datetime.datetime(2017, 3, 22, 0, 0),
       datetime.datetime(2017, 3, 27, 0, 0),
       datetime.datetime(2017, 3, 29, 0, 0),
       datetime.datetime(2017, 4, 1, 0, 0),
       datetime.datetime(2017, 4, 4, 0, 0),
       datetime.datetime(2017, 4, 5, 0, 0),
       datetime.datetime(2017, 6, 27, 0, 0),
       datetime.datetime(2017, 10, 3, 0, 0),
       datetime.datetime(2017, 10, 11, 0, 0),
       datetime.datetime(2017, 12, 26, 0, 0),
       datetime.datetime(2018, 2, 5, 0, 0),
       datetime.datetime(2018, 3, 9, 0, 0),
       datetime.datetime(2017, 2, 8, 0, 0),
       datetime.datetime(2017, 2, 20, 0, 0),
       datetime.datetime(2017, 2, 21, 0, 0),
       datetime.datetime(2017, 3, 20, 0, 0),
       datetime.datetime(2018, 2, 6, 0, 0),
       datetime.datetime(2017, 2, 9, 0, 0),
       datetime.datetime(2017, 2, 15, 0, 0),
       datetime.datetime(2017, 3, 28, 0, 0),
       datetime.datetime(2017, 5, 7, 0, 0),
       datetime.datetime(2018, 2, 26, 0, 0),
       datetime.datetime(2017, 6, 9, 0, 0),
       datetime.datetime(2018, 3, 6, 0, 0),
       datetime.datetime(2018, 2, 19, 0, 0),
       datetime.datetime(2017, 5, 23, 0, 0),
       datetime.datetime(2017, 6, 23, 0, 0),
       datetime.datetime(2017, 4, 22, 0, 0),
       datetime.datetime(2017, 5, 2, 0, 0),
       datetime.datetime(2017, 8, 1, 0, 0),
       datetime.datetime(2017, 8, 5, 0, 0),
       datetime.datetime(2017, 12, 27, 0, 0),
       datetime.datetime(2018, 3, 5, 0, 0),
       datetime.datetime(2017, 8, 29, 0, 0),
       datetime.datetime(2018, 1, 30, 0, 0),
       datetime.datetime(2017, 10, 18, 0, 0),
       datetime.datetime(2017, 11, 8, 0, 0),
       datetime.datetime(2017, 11, 29, 0, 0),
       datetime.datetime(2017, 12, 30, 0, 0),
       datetime.datetime(2018, 1, 8, 0, 0),
       datetime.datetime(2018, 3, 17, 0, 0),
       datetime.datetime(2018, 3, 12, 0, 0),
       datetime.datetime(2017, 5, 22, 0, 0),
       datetime.datetime(2017, 5, 24, 0, 0),
       datetime.datetime(2017, 6, 19, 0, 0),
       datetime.datetime(2017, 7, 24, 0, 0),
       datetime.datetime(2017, 6, 29, 0, 0),
       datetime.datetime(2017, 7, 6, 0, 0),
       datetime.datetime(2017, 9, 30, 0, 0),
       datetime.datetime(2017, 8, 16, 0, 0),
       datetime.datetime(2017, 8, 8, 0, 0),
       datetime.datetime(2017, 9, 15, 0, 0),
       datetime.datetime(2017, 9, 11, 0, 0),
       datetime.datetime(2017, 9, 29, 0, 0),
       datetime.datetime(2017, 9, 27, 0, 0),
       datetime.datetime(2017, 10, 20, 0, 0),
       datetime.datetime(2017, 11, 4, 0, 0),
       datetime.datetime(2018, 3, 15, 0, 0),
       datetime.datetime(2018, 6, 14, 0, 0),
       datetime.datetime(2017, 11, 14, 0, 0),
       datetime.datetime(2017, 11, 16, 0, 0),
       datetime.datetime(2017, 11, 20, 0, 0),
       datetime.datetime(2017, 11, 28, 0, 0),
       datetime.datetime(2017, 11, 30, 0, 0),
       datetime.datetime(2018, 3, 26, 0, 0),
       datetime.datetime(2017, 12, 22, 0, 0),
       datetime.datetime(2018, 1, 6, 0, 0),
       datetime.datetime(2018, 1, 22, 0, 0),
       datetime.datetime(2018, 1, 27, 0, 0),
       datetime.datetime(2018, 2, 23, 0, 0),
       datetime.datetime(2018, 1, 31, 0, 0),
       datetime.datetime(2018, 2, 15, 0, 0),
       datetime.datetime(2018, 2, 12, 0, 0),
       datetime.datetime(2018, 3, 29, 0, 0),
       datetime.datetime(2018, 6, 11, 0, 0),
       datetime.datetime(2018, 6, 5, 0, 0),
       datetime.datetime(2018, 6, 6, 0, 0),
       datetime.datetime(2018, 6, 7, 0, 0),
       datetime.datetime(2018, 8, 30, 0, 0),
       datetime.datetime(2018, 7, 2, 0, 0),
       datetime.datetime(2018, 6, 29, 0, 0),
       datetime.datetime(2018, 8, 24, 0, 0),
       datetime.datetime(2018, 8, 29, 0, 0),
       datetime.datetime(2018, 8, 31, 0, 0),
       datetime.datetime(2018, 9, 14, 0, 0),
       datetime.datetime(2018, 10, 10, 0, 0),
       datetime.datetime(2018, 10, 29, 0, 0),
       datetime.datetime(2018, 10, 5, 0, 0),
       datetime.datetime(2018, 12, 26, 0, 0),
       datetime.datetime(2018, 12, 28, 0, 0),
       datetime.datetime(2018, 12, 31, 0, 0),
       datetime.datetime(2019, 1, 17, 0, 0),
       datetime.datetime(2019, 1, 29, 0, 0),
       datetime.datetime(2019, 2, 7, 0, 0),
       datetime.datetime(2019, 1, 31, 0, 0),
       datetime.datetime(2019, 2, 15, 0, 0),
       datetime.datetime(2019, 3, 11, 0, 0),
       datetime.datetime(2019, 2, 18, 0, 0),
       datetime.datetime(2019, 2, 27, 0, 0),
       datetime.datetime(2019, 3, 25, 0, 0),
       datetime.datetime(2019, 2, 26, 0, 0),
       datetime.datetime(2019, 6, 3, 0, 0),
       datetime.datetime(2019, 3, 20, 0, 0),
       datetime.datetime(2019, 3, 27, 0, 0),
       datetime.datetime(2019, 11, 20, 0, 0),
       datetime.datetime(2019, 3, 22, 0, 0),
       datetime.datetime(2019, 7, 3, 0, 0),
       datetime.datetime(2019, 3, 30, 0, 0),
       datetime.datetime(2019, 4, 2, 0, 0),
       datetime.datetime(2019, 4, 5, 0, 0),
       datetime.datetime(2019, 3, 29, 0, 0),
       datetime.datetime(2019, 5, 28, 0, 0),
       datetime.datetime(2019, 9, 16, 0, 0),
       datetime.datetime(2019, 5, 31, 0, 0),
       datetime.datetime(2019, 6, 17, 0, 0),
       datetime.datetime(2019, 7, 2, 0, 0),
       datetime.datetime(2019, 8, 21, 0, 0),
       datetime.datetime(2019, 7, 15, 0, 0),
       datetime.datetime(2019, 10, 31, 0, 0),
       datetime.datetime(2019, 7, 22, 0, 0),
       datetime.datetime(2019, 7, 26, 0, 0),
       datetime.datetime(2019, 7, 30, 0, 0),
       datetime.datetime(2019, 7, 12, 0, 0),
       datetime.datetime(2019, 7, 31, 0, 0),
       datetime.datetime(2019, 8, 26, 0, 0),
       datetime.datetime(2019, 8, 31, 0, 0),
       datetime.datetime(2019, 8, 13, 0, 0),
       datetime.datetime(2019, 11, 22, 0, 0),
       datetime.datetime(2019, 8, 28, 0, 0),
       datetime.datetime(2019, 10, 25, 0, 0),
       datetime.datetime(2019, 10, 30, 0, 0),
       datetime.datetime(2019, 9, 25, 0, 0),
       datetime.datetime(2019, 9, 30, 0, 0),
       datetime.datetime(2019, 11, 6, 0, 0),
       datetime.datetime(2019, 11, 19, 0, 0),
       datetime.datetime(2017, 8, 24, 0, 0),
       datetime.datetime(2017, 8, 25, 0, 0),
       datetime.datetime(2017, 10, 21, 0, 0),
       datetime.datetime(2017, 9, 25, 0, 0),
       datetime.datetime(2017, 9, 18, 0, 0),
       datetime.datetime(2017, 9, 20, 0, 0),
       datetime.datetime(2017, 11, 21, 0, 0),
       datetime.datetime(2017, 12, 28, 0, 0),
       datetime.datetime(2017, 11, 7, 0, 0),
       datetime.datetime(2017, 11, 27, 0, 0),
       datetime.datetime(2017, 11, 13, 0, 0),
       datetime.datetime(2017, 12, 2, 0, 0),
       datetime.datetime(2018, 1, 16, 0, 0),
       datetime.datetime(2017, 12, 23, 0, 0),
       datetime.datetime(2017, 12, 25, 0, 0),
       datetime.datetime(2017, 12, 29, 0, 0),
       datetime.datetime(2018, 1, 2, 0, 0),
       datetime.datetime(2018, 1, 4, 0, 0),
       datetime.datetime(2018, 2, 14, 0, 0),
       datetime.datetime(2018, 2, 2, 0, 0),
       datetime.datetime(2018, 6, 8, 0, 0),
       datetime.datetime(2018, 9, 8, 0, 0),
       datetime.datetime(2018, 8, 22, 0, 0),
       datetime.datetime(2018, 9, 26, 0, 0),
       datetime.datetime(2018, 10, 31, 0, 0),
       datetime.datetime(2019, 2, 1, 0, 0),
       datetime.datetime(2019, 2, 20, 0, 0),
       datetime.datetime(2019, 4, 3, 0, 0),
       datetime.datetime(2019, 6, 29, 0, 0),
       datetime.datetime(2019, 7, 9, 0, 0),
       datetime.datetime(2019, 9, 26, 0, 0),
       datetime.datetime(2019, 10, 17, 0, 0),
       datetime.datetime(2019, 11, 14, 0, 0),
       datetime.datetime(2018, 1, 17, 0, 0),
       datetime.datetime(2018, 1, 15, 0, 0),
       datetime.datetime(2018, 2, 17, 0, 0),
       datetime.datetime(2018, 2, 20, 0, 0),
       datetime.datetime(2018, 2, 10, 0, 0),
       datetime.datetime(2018, 1, 11, 0, 0),
       datetime.datetime(2018, 6, 13, 0, 0),
       datetime.datetime(2018, 6, 18, 0, 0),
       datetime.datetime(2018, 6, 30, 0, 0),
       datetime.datetime(2018, 6, 28, 0, 0),
       datetime.datetime(2018, 8, 25, 0, 0),
       datetime.datetime(2018, 8, 28, 0, 0),
       datetime.datetime(2018, 9, 10, 0, 0),
       datetime.datetime(2019, 2, 3, 0, 0),
       datetime.datetime(2018, 9, 7, 0, 0),
       datetime.datetime(2018, 9, 18, 0, 0),
       datetime.datetime(2018, 10, 30, 0, 0),
       datetime.datetime(2019, 1, 5, 0, 0),
       datetime.datetime(2019, 1, 30, 0, 0),
       datetime.datetime(2018, 11, 29, 0, 0),
       datetime.datetime(2019, 1, 10, 0, 0),
       datetime.datetime(2018, 11, 19, 0, 0),
       datetime.datetime(2018, 12, 29, 0, 0),
       datetime.datetime(2019, 2, 8, 0, 0),
       datetime.datetime(2019, 2, 9, 0, 0),
       datetime.datetime(2019, 2, 19, 0, 0),
       datetime.datetime(2019, 6, 6, 0, 0),
       datetime.datetime(2019, 6, 7, 0, 0),
       datetime.datetime(2019, 6, 11, 0, 0),
       datetime.datetime(2019, 7, 10, 0, 0),
       datetime.datetime(2019, 7, 8, 0, 0),
       datetime.datetime(2019, 7, 11, 0, 0),
       datetime.datetime(2019, 8, 9, 0, 0),
       datetime.datetime(2019, 8, 16, 0, 0),
       datetime.datetime(2019, 9, 17, 0, 0),
       datetime.datetime(2019, 10, 5, 0, 0),
       datetime.datetime(2019, 9, 20, 0, 0),
       datetime.datetime(2019, 10, 19, 0, 0),
       datetime.datetime(2019, 10, 23, 0, 0),
       datetime.datetime(2019, 11, 4, 0, 0),
       datetime.datetime(2019, 11, 9, 0, 0),
       datetime.datetime(2019, 11, 11, 0, 0),
       datetime.datetime(2019, 11, 21, 0, 0),
       datetime.datetime(2018, 8, 21, 0, 0),
       datetime.datetime(2018, 8, 23, 0, 0),
       datetime.datetime(2018, 9, 29, 0, 0),
       datetime.datetime(2018, 10, 11, 0, 0),
       datetime.datetime(2018, 8, 27, 0, 0),
       datetime.datetime(2018, 11, 17, 0, 0),
       datetime.datetime(2019, 1, 8, 0, 0),
       datetime.datetime(2019, 1, 14, 0, 0),
       datetime.datetime(2019, 2, 28, 0, 0),
       datetime.datetime(2019, 2, 11, 0, 0),
       datetime.datetime(2019, 3, 5, 0, 0),
       datetime.datetime(2019, 2, 2, 0, 0),
       datetime.datetime(2019, 2, 13, 0, 0),
       datetime.datetime(2019, 5, 20, 0, 0),
       datetime.datetime(2019, 6, 15, 0, 0),
       datetime.datetime(2019, 7, 16, 0, 0),
       datetime.datetime(2019, 8, 22, 0, 0),
       datetime.datetime(2019, 7, 19, 0, 0),
       datetime.datetime(2019, 9, 23, 0, 0),
       datetime.datetime(2019, 9, 19, 0, 0),
       datetime.datetime(2019, 9, 27, 0, 0),
       datetime.datetime(2019, 11, 13, 0, 0),
       datetime.datetime(2018, 10, 1, 0, 0),
       datetime.datetime(2018, 9, 22, 0, 0),
       datetime.datetime(2018, 9, 28, 0, 0),
       datetime.datetime(2018, 10, 4, 0, 0),
       datetime.datetime(2019, 2, 12, 0, 0),
       datetime.datetime(2018, 10, 16, 0, 0),
       datetime.datetime(2018, 10, 15, 0, 0),
       datetime.datetime(2018, 12, 6, 0, 0),
       datetime.datetime(2018, 11, 6, 0, 0),
       datetime.datetime(2018, 11, 27, 0, 0),
       datetime.datetime(2018, 12, 21, 0, 0),
       datetime.datetime(2018, 12, 18, 0, 0),
       datetime.datetime(2019, 1, 24, 0, 0),
       datetime.datetime(2019, 1, 28, 0, 0),
       datetime.datetime(2019, 2, 23, 0, 0),
       datetime.datetime(2019, 2, 25, 0, 0),
       datetime.datetime(2019, 3, 18, 0, 0),
       datetime.datetime(2019, 3, 7, 0, 0),
       datetime.datetime(2019, 3, 1, 0, 0),
       datetime.datetime(2019, 6, 18, 0, 0),
       datetime.datetime(2019, 6, 13, 0, 0),
       datetime.datetime(2019, 7, 17, 0, 0),
       datetime.datetime(2019, 7, 24, 0, 0),
       datetime.datetime(2019, 9, 3, 0, 0),
       datetime.datetime(2019, 10, 28, 0, 0),
       datetime.datetime(2019, 9, 24, 0, 0),
       datetime.datetime(2019, 11, 8, 0, 0),
       datetime.datetime(2019, 11, 18, 0, 0),
       datetime.datetime(2018, 11, 22, 0, 0),
       datetime.datetime(2018, 12, 10, 0, 0),
       datetime.datetime(2019, 4, 8, 0, 0),
       datetime.datetime(2019, 2, 10, 0, 0),
       datetime.datetime(2019, 4, 27, 0, 0),
       datetime.datetime(2019, 7, 6, 0, 0),
       datetime.datetime(2019, 5, 22, 0, 0),
       datetime.datetime(2019, 6, 4, 0, 0),
       datetime.datetime(2019, 7, 20, 0, 0),
       datetime.datetime(2019, 7, 29, 0, 0),
       datetime.datetime(2019, 8, 30, 0, 0),
       datetime.datetime(2019, 8, 10, 0, 0),
       datetime.datetime(2019, 8, 24, 0, 0),
       datetime.datetime(2019, 10, 10, 0, 0),
       datetime.datetime(2019, 11, 5, 0, 0),
       datetime.datetime(2017, 5, 14, 0, 0),
       datetime.datetime(2017, 8, 28, 0, 0),
       datetime.datetime(2017, 7, 14, 0, 0),
       datetime.datetime(2017, 12, 31, 0, 0),
       datetime.datetime(2017, 5, 12, 0, 0),
       datetime.datetime(2017, 5, 15, 0, 0),
       datetime.datetime(2017, 7, 3, 0, 0),
       datetime.datetime(2017, 9, 5, 0, 0),
       datetime.datetime(2017, 11, 17, 0, 0),
       datetime.datetime(2017, 12, 18, 0, 0),
       datetime.datetime(2017, 1, 30, 0, 0),
       datetime.datetime(2018, 1, 25, 0, 0),
       datetime.datetime(2017, 6, 20, 0, 0),
       datetime.datetime(2017, 9, 14, 0, 0),
       datetime.datetime(2018, 3, 20, 0, 0),
       datetime.datetime(2017, 1, 27, 0, 0),
       datetime.datetime(2017, 3, 7, 0, 0),
       datetime.datetime(2017, 4, 8, 0, 0),
       datetime.datetime(2017, 4, 3, 0, 0),
       datetime.datetime(2017, 3, 30, 0, 0),
       datetime.datetime(2017, 5, 18, 0, 0),
       datetime.datetime(2017, 6, 30, 0, 0),
       datetime.datetime(2017, 7, 5, 0, 0),
       datetime.datetime(2017, 6, 7, 0, 0),
       datetime.datetime(2017, 9, 23, 0, 0),
       datetime.datetime(2017, 7, 29, 0, 0),
       datetime.datetime(2017, 8, 4, 0, 0),
       datetime.datetime(2017, 12, 6, 0, 0),
       datetime.datetime(2018, 1, 29, 0, 0),
       datetime.datetime(2018, 9, 15, 0, 0),
       datetime.datetime(2018, 10, 3, 0, 0), '31/01/2020', '30/01/2020',
       '29/01/2020', '04/02/2020', '06/02/2020', '03/02/2020',
       '28/01/2020', '01/02/2020', '05/02/2020', '10/02/2020',
       '08/02/2020', '07/02/2020', '19/02/2020', '20/02/2020',
       '17/02/2020', '15/02/2020', '11/02/2020', '13/02/2020',
       '14/02/2020', '18/02/2020', '21/02/2020', '24/02/2020',
       '27/02/2020', '28/02/2020', '26/02/2020', '29/02/2020',
       '03/03/2020', '07/03/2020', '06/03/2020', '10/03/2020',
       '11/03/2020', '12/03/2020', '16/03/2020', '13/03/2020',
       '14/03/2020', '17/03/2020'], dtype=object)

In [14]:
df['Year'].shape

(40340,)

In [15]:
s='2015-07-02'
(s.split('-')[0])

'2015'

In [16]:
s='2015-07-02'
len(s.split('-')[0])

4

In [17]:
s='2015-07-02'
s[4]

'-'

In [18]:
s='14/03/2020'
s[2]

'/'

In [19]:
s='14/03/2020'
(s.split('-'))

['14/03/2020']

In [20]:
s='14/03/2020'
len(s)

10

In [21]:
s='14/03/2020'
(s.split('/')[2])

'2020'

In [22]:
df_arr=[]

In [23]:
df_arr

[]

In [24]:
for val in df['Year']:
    if type(val)==str:
        if val[4]=='-':
            df_arr.append(int(val.split('-')[0]))
        elif val[2]=='/':
            df_arr.append(int(val.split('/')[2])) 
            
    elif type(val)==datetime.datetime:
        df_arr.append(val.timetuple().tm_year)

In [25]:
np.array(df_arr).shape

(40340,)

In [26]:
df['Year']=df_arr

In [27]:
df

,Candidate Name,Centre State,Centre Name,Scheme,Job Role,Certified,Candidate Placed,Salary,TP1,TP2,TP3,Year
0,PAVADA SAIKUMARI,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,NaN,NaN,NaN,NaN,2015
1,CHELUBOYINA SAILATHA,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,No,No,NaN,NaN,NaN,NaN,2015
2,DAMARASINGI RAMESH,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,NaN,NaN,NaN,NaN,2015
3,Boddana Vinodkumar,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No,NaN,NaN,NaN,NaN,2015
4,Dasari Satyannarayana,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No,NaN,NaN,NaN,NaN,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
40335,Botla Mounika,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,NaN,NaN,NaN,NaN,2020
40336,Gadam Deepthi,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,Not Appeared,No,NaN,NaN,NaN,NaN,2020
40337,Lingubotu Deepika,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,NaN,NaN,NaN,NaN,2020
40338,Kallubhavi Lakshmi,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,NaN,NaN,NaN,NaN,2020
40339,GUDIYA KUMARI SINGH,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,NaN,NaN,NaN,NaN,2020

In [28]:
(df['Candidate Placed']=='Yes').sum()

11518

In [29]:
(df['Candidate Placed']=='No').sum()

28822

In [31]:
df['Candidate Placed'].isna().sum()

0

In [69]:
df['Salary']=df['Candidate Placed']
df['TP1']=df['Candidate Placed']
df['TP2']=df['Candidate Placed']
df['TP3']=df['Candidate Placed']

In [45]:
df['Salary'].replace(to_replace='Yes',value=8000,inplace=True)

In [68]:
df['Salary'].unique()

array([11000, 'No'], dtype=object)

In [56]:
df

,Candidate Name,Centre State,Centre Name,Scheme,Job Role,Certified,Candidate Placed,Salary,TP1,TP2,TP3,Year
0,PAVADA SAIKUMARI,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,11000,Yes,Yes,Yes,2015
1,CHELUBOYINA SAILATHA,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,No,No,No,No,No,No,2015
2,DAMARASINGI RAMESH,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,11000,Yes,Yes,Yes,2015
3,Boddana Vinodkumar,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No,No,No,No,No,2015
4,Dasari Satyannarayana,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No,No,No,No,No,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
40335,Botla Mounika,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,No,No,No,No,2020
40336,Gadam Deepthi,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,Not Appeared,No,No,No,No,No,2020
40337,Lingubotu Deepika,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,No,No,No,No,2020
40338,Kallubhavi Lakshmi,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,No,No,No,No,2020
40339,GUDIYA KUMARI SINGH,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,No,No,No,No,2020

In [49]:
df1=df.drop(df.loc[df['Salary']=='No'].index)

In [50]:
df1

,Candidate Name,Centre State,Centre Name,Scheme,Job Role,Certified,Candidate Placed,Salary,TP1,TP2,TP3,Year
0,PAVADA SAIKUMARI,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,8000,Yes,Yes,Yes,2015
2,DAMARASINGI RAMESH,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,8000,Yes,Yes,Yes,2015
5,Suviki Pavan Kumar,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,No,Yes,8000,Yes,Yes,Yes,2015
6,VADDADHI VENKATA LAKSHMI,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,8000,Yes,Yes,Yes,2015
7,Shaik Yusuf,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,8000,Yes,Yes,Yes,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
40306,M Priyanka,TELANGANA,SynchroServe - TS - PMKK Hyderabad - Nampally,PMKVY,Beauty & Wellness,PASS,Yes,8000,Yes,Yes,Yes,2020
40310,Nadigottu sujatha,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,Yes,8000,Yes,Yes,Yes,2020
40313,Gatla Sudhir Swetha,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,Yes,8000,Yes,Yes,Yes,2020
40315,Panjala Lavanya,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,Yes,8000,Yes,Yes,Yes,2020
40334,Silamkoti sailaja,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,Yes,8000,Yes,Yes,Yes,2020

In [47]:
df

,Candidate Name,Centre State,Centre Name,Scheme,Job Role,Certified,Candidate Placed,Salary,TP1,TP2,TP3,Year
0,PAVADA SAIKUMARI,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,8000,Yes,Yes,Yes,2015
1,CHELUBOYINA SAILATHA,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,No,No,No,No,No,No,2015
2,DAMARASINGI RAMESH,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes,8000,Yes,Yes,Yes,2015
3,Boddana Vinodkumar,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No,No,No,No,No,2015
4,Dasari Satyannarayana,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No,No,No,No,No,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
40335,Botla Mounika,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,No,No,No,No,2020
40336,Gadam Deepthi,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,Not Appeared,No,No,No,No,No,2020
40337,Lingubotu Deepika,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,No,No,No,No,2020
40338,Kallubhavi Lakshmi,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,No,No,No,No,2020
40339,GUDIYA KUMARI SINGH,TELANGANA,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,PASS,No,No,No,No,No,2020

In [34]:
df['TP1'].unique()

array(['Yes', 'No'], dtype=object)

In [101]:
df['TP1'].isna().sum()

25239

In [95]:
df['Year'].unique()

array([2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

In [15]:
df.shape

(40340, 9)

In [16]:
df['Certified'].shape

(40340,)

In [17]:
print((df['Certified']=="Yes").sum())## To know Number of People who r Certified!
print((df['Certified']=="No").sum())

28053
9011

In [96]:
df['Certified'].unique()

array(['Yes', nan, 'No', 'FAIL', 'Not Appeared', 'PASS', 'Dropout'],
      dtype=object)

In [18]:
print((df['Candidate Placed']=="Yes").sum())## To know Number of People who r Placed!
print((df['Candidate Placed']=="No").sum())

11518
28822

In [97]:
df['Candidate Placed'].unique()

array(['Yes', 'No', nan], dtype=object)

In [19]:
df['Centre State'].unique() ## List of States where Our centres r located!

array(['Andhra Pradesh', 'Telangana', 'Uttar Pradesh', 'Jharkhand',
       'Maharashtra', 'Bihar', 'Kerala', 'West Bengal', 'Karnataka',
       'Rajasthan', 'Assam', 'Odisha', 'ANDHRA PRADESH', 'TELANGANA'],
      dtype=object)

In [20]:
df.replace(to_replace='ANDHRA PRADESH',value='Andhra Pradesh',inplace=True)
df.replace(to_replace='TELANGANA',value='Telangana',inplace=True)

In [21]:
#centres done!
df['Centre State'].unique()

array(['Andhra Pradesh', 'Telangana', 'Uttar Pradesh', 'Jharkhand',
       'Maharashtra', 'Bihar', 'Kerala', 'West Bengal', 'Karnataka',
       'Rajasthan', 'Assam', 'Odisha'], dtype=object)

In [22]:
df['Centre Name'].unique() ## List of Center Names!

array(['SynchroServe-AP-Vizianagaram-3 lamp',
       'SynchroServe-AP-Visakhapatnam-Vizag-Prism',
       'SynchroServe-AP-Vizag-Pendurthi-Kites(LIC Office)',
       'SynchroServe-AP-Anantapur-Sai Nagar',
       'SynchroServe-AP-Guntur-Pattabhi Puram',
       'SynchroServe-AP-Vizag-Sabavaram',
       'SynchroServe-TS-Adilabad-Dwarakanagar',
       'SynchroServe-AP-Visakhapatnam-Dabagardens',
       'SynchroServe-AP-Prakasam-Ongole',
       'SynchroServe-AP-Srikakulam-Genesis',
       'SynchroServe-AP-Srikakulam-Prabhakar Nagar',
       'SynchroServe-AP-Vizianagaram-Gajapathinagaram',
       'SynchroServe-AP-Visakhapatnam-Anandapuram',
       'SynchroServe-AP-Nellore-Gayathri Nagar',
       'SynchroServe-AP-Chittoor-Tirupathi',
       'SynchroServe-TS-Warangal-Lashkar Bazar',
       'SynchroServe -TS-Khammam-Sattupally',
       'SynchroServe-AP-Vizag-Anakapalli-Nehru Chowk',
       'SynchroServe-AP-West Godavari-Jangareddygudem',
       'SynchroServe-AP-West Godavari-Tadepalligudem',
       'SynchroServe-AP-West Godavari-Bhimavaram',
       'SynchroServe-AP-Kurnool-Nandyal-Atmakur',
       'SynchroServe-AP-Prakasham-Ongole-Giddalur',
       'SynchroServe-AP-WG-Eluru-Ashok Nagar',
       'SynchroServe-TS-Warangal-Kakatiya Colony',
       'SynchroServe-UP-Lucknow-Rajaji Puram',
       'SynchroServe-TS-Karimnagar-Peddapally',
       'SynchroServe-AP-Krishna-Avanigadda-Gandhi Kshetram',
       'SynchroServe-AP-Krishna-Vijayawada-MBS',
       'SynchroServe-AP-Nellore-Annamayya Circle',
       'SynchroServe-TS-RangaReddy-Gandwed Mondal',
       'SynchroServe-TS-Nalgonda-Devarakonda',
       'SynchroServe-AP-Ananthapur-Sapthagiri',
       'SynchroServe-AP-Kadapa-Proddutur',
       'SynchroServe-AP-Visakhapatnam-Anakapalli-Victory',
       'SynchroServe-AP-Visakhapatnam-Chodavaram Victory',
       'SynchroServe-AP-Vizianagaram-S.Kota-RTC Complex',
       'SynchroServe-AP-Krishna-Gudivada',
       'SynchroServe-JH-Hazaribagh-Barkagaon Road',
       'SynchroServe-AP-Visakhapatnam-Duvvada',
       'SynchroServe-MH-Nagpur-Mouda',
       'SynchroServe-AP-Kadapa-Khan Complex',
       'SynchroServe-AP-Visakhapatnam-Atchutapuram-Nani',
       'SynchroServe-AP-Visakhapatnam-Paderu-TDP Building',
       'SynchroServe-TS-Khammam-Kothagudem',
       'SynchroServe-TS-Warangal-Hanamkonda-SPS Plaza',
       'SynchroServe - Vizianagaram - Nellimarla',
       'SynchroServe-AP-Vizag-K.Kotapadu',
       'SynchroServe-AP-Vizianagaram-S.Kota-Universal',
       'SynchroServe-AP-Visakhapatnam-Rama Takies',
       'SynchroServe-Telangana-Rangareddy-Saroornagar',
       'SynchroServe-TS-Hyderabad-Moula - Ali',
       'SynchroServe-AP-Vizianagaram-Srungavarapukota',
       'SynchroServe-AP-Araku-Dumbriguda Mandalam',
       'SynchroServe-AP-Srikakulam-Baamini Mandalam',
       'SynchroServe-AP-Paderu Mandalam',
       'SynchroServe-AP-Anakapalli-Gulagam',
       'SynchroServe-Visakhapatnam-Gopalapatnam',
       'SynchroServe-AP-Visakhapatnam-Podugupalem',
       'SynchroServe-AP-Srikakulam-GandhiNagar Street',
       'SynchroServe-AP-East Godavari-Kakinada-Daatla Street',
       'SynchroServe-AP-Guntur-Bapatla-Mani Technologies',
       'SynchroServe-Bihar-Muzaffarpur-Aghoriya Bazar Chowk',
       'SynchroServe-TS-Hyderabad-NTR Trust',
       'SynchroServe-Bihar-Bhojpur-Ara',
       'SynchroServe-Kerala-Kannur-Payyannur-Kasargod',
       'SynchroServe-TS-Karimnagar-Choppadandi',
       'SynchroServe-AP-East Godavari-Vidya Nagar',
       'SynchroServe-AP-Kurnool-Kodumuru',
       'SynchroServe-AP-East Godavari-Rajhamundry-VT College Road',
       'SynchroServe-AP-Guntur-Chilakaluripet',
       'SynchroServe-AP-Nellore-Nellore',
       'SynchroServe-UP-Allahabad-Loyal Road',
       'SynchroServe-Kerala-Kollam',
       'SynchroServe-Kerala-Kannur-South Bazar',
       'SynchroServe-AP-Vijayawada-MG Road',
       'SynchroServe- AP- Kurnool- Adoni Yemminagur road',
       'SynchroServe-AP-Visakhapatnam-KD Peta,Golugonda',
       'SynchroServe-MR-Pune-Solapur Road Gemini Housing (Grand Bay Site)',
       'SynchroServe - AP-EG-Kakinada-Vemulavada',
       'SynchroServe-TS-Nalgonda-Nakrekal',
       'SynchroServe-UP-Lucknow-Deep Vihar Colony',
       'SynchroServe-AP-Visakhapatnam-Narsipatnam',
       'SynchroServe-West Bengal-Purulia-Pundag',
       'SynchroServe-AP-Vizag-Paravada-Kites',
       'SynchroServe-AP-East Godavari-Rampachodavaram',
       'SynchroServe-Karnataka-Ramanagara',
       'SynchroServe-TS-Warangal-BSNL office-Hanamkonda',
       'SynchroServe-TS-Nalgonda-Kodad',
       'SYNCHROSERVE-AP-KNL-DHONE-SREE RAMA NAGAR',
       'SynchroServe-TS-Secunderabad-Rasoolpura',
       'SynchroServe-AP-Anantapur-Nandamuri Nagar',
       'SynchroServe-Kerala-Malappuram-Poothani Street',
       'SynchroServe-AP-Vijayawada-Venkateswara Nagar',
       'SynchroServe-AP-Visakhapatnam-Srinagar',
       'SynchroServe-Kerala-IRITTY-SAC',
       'SynchroServe-AP-Krishna-Kothapeta-Pedana',
       'SynchroServe-AP-Vizianagaram-Gurla',
       'SynchroServe-AP-Aruku-PMRC Paderu',
       'SyncheroServe-TS-SEC-HotelInner Somajiguda',
       'SynchroServe-AP-Rajahmundry-SVRK',
       'SynchroServe - AP - Vizianagaram - Kothavalasa',
       'SynchroServe-Maharashtra-Pune-Somatanephata',
       'SynchroServe - Vizianagaram - Cheepurupalli 1',
       'SynchroServe-AP-Visakhapatnam-Anandapuram-Bheemunipatnam',
       'SynchroServe-AP-Visakhapatnam--KD Peta',
       'SynchroServe-AP-Krishna-Vijayawada-Nandigama',
       'SynchroServe-AP-Visakhapatnam-Gopalapatnam Main Road',
       'SynchroServe-Telangana-Karimnagar-Choppadandi',
       'SynchroServe-Kerala-Kasaragod-Kanhangad-Brothers Complex',
       'SynchroServe-Kerala-Thrissur-Alathur',
       'SynchroServe-Kerala-Kannur-Kuthuparamba',
       'SynchroServe-TS-Nalgonda-Nagarjuna Sagar',
       'SynchroServe-TS-KHM-WYRA', 'SynchroServe-AP-Krishna-Jaggayyapeta',
       'SynchroServe-AP-Vizag-ST Naidu College-K Kotapadu',
       'SynchroServe-AP-Visakapatnam-P.M.Palem',
       'SynchroServe-Kerala-Kollam-Q S Road',
       'SynchroServe-Rajasthan-Banswara',
       'SynchroServe-AP-Krishna-Challapalli',
       'SynchroServe-TS-Hyderabad-Dilsukhnagar P&T',
       'SynchroServe-Kerala-Kozhikode-Puthiyambalam',
       'SynchroServe-Rajasthan-Bundi-Ajad Park',
       'SynchroServe-AP-Guntur-Gamana',
       'SynchroServe-AP-Krishna-Vijayawada-Labbipet',
       'SynchroServe-AP-EG-Korukonda', 'SynchroServe-Rajasthan-Danta',
       'SynchroServe-AP-Prakasam-Ongole-Court Centre',
       'SynchroServe-AP-VSKP-NSPM', 'SynchroServe-TS-Khammam-Paloncha',
       'SynchroServe-AP-VIZIANAGARAM-BHYRIPURAM-NB',
       'SynchroServe-AP-Visakapatnam-Ankapalli-Kothuru',
       'SynchroServe-Krishna-Vijayawada-Bandar Road-SV Tech',
       'SynchroServe-TS-Suryapet-Nehrunagar',
       'SynchroServe - West Bengal - Murshidabad - Nabagram -TMS',
       'SynchroServe-West Bengal-Parganas-Basirhat-TMS',
       'SynchroServe-Assam-Silchar',
       'SynchroServe-AP-Anantapur-Bellary Road',
       'SynchroServe-AP-Nellore-VRC Center', 'SynchroServe-AP-EG-RJMY',
       'SynchroServe-Karnataka-Dharwad-Alnavar',
       'SynchroServe-West Bengal-Darjeeling-Silligiri-TMS',
       'SynchroServe-TS-Hyderabad-Kuthbiguda',
       'SynchroServe-AP-KNL-Srisailam',
       'SynchroServe -TS-SEC-Moksh Restaurant-Necklace Road',
       'SynchroServe-A.P-Nellore', 'SynchroServe_AP-Kurnool-JCS complex',
       'SynchroServe Global Solutions Private Limited',
       'SynchroServe-AP-Krishna-Vijayawada-VEA',
       'SYNCHROSERVE - AP - PMKK PRAKASAM - ONGOLE', 'PMKK-Guntur',
       'SynchroServe-AP-Kadapa-Raja Reddy Circle',
       'SynchroServe-AP-EG-Kakinada-Gandhinagar',
       'SynchroServe - AP - PMKK Kadapa',
       'SynchroServe - AP - PMKK Krishna - Vijayawada',
       'SynchroServe - AP - PMKK Bapatla - Chirala',
       'SynchroServe - AP - PMKK Narasaraopet',
       'SynchroServe-AP-Kurnool-Krishna Nagar',
       'SynchroServe-AP-Ongole-Mahendra Nagar',
       'SynchroServe-Kerala-Idukki-Kattappana',
       'SynchroServe-KL-Kannur-Mattannur',
       'SynchroServe-KL-Malappuram-Edakkara',
       'SynchroServe-OD-Sundargarh-Rourkela',
       'SynchroServe Skill Development Centre',
       'SynchroServe - AP - PMKK Prakasam - Ongole',
       'SynchroServe - TS - PMKK RangaReddy - Malkajgiri',
       'SynchroServe - TS - PMKK Chevella - Lingampally',
       'SynchroServe - TS - PMKK Nizamabad',
       'SynchroServe - TS - PMKK Hyderabad - Nampally',
       'SynchroServe - TS - PMKK Medak - Sangareddy',
       'SynchroServe - AP - PMKK Guntur - Brodipet',
       'SynchroServe-Mahabubnagar-PMKK',
       'SynchroServe - TS - PMKK Jogulamba Gadwal'], dtype=object)

In [23]:
df['Centre Name'].unique().shape

(173,)

## Remove unnecessary or Duplicate things in Eduation Level

In [30]:
df.head()

,Candidate Name,Gender,Education Level,Centre State,Centre Name,Scheme,Job Role,Certified,Candidate Placed
0,PAVADA SAIKUMARI,Female,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes
1,CHELUBOYINA SAILATHA,Female,10th Class,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,No,No
2,DAMARASINGI RAMESH,Male,Polytechnic,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes
3,Boddana Vinodkumar,Male,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No
4,Dasari Satyannarayana,Male,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No

In [31]:
df['Certified'].unique()

array(['Yes', 'No', 'FAIL', 'Not Appeared', 'PASS', 'Dropout'],
      dtype=object)

In [32]:
df.replace(to_replace=['FAIL','Not Appeared','Dropout'],value='No',inplace=True)
df.replace(to_replace=['PASS'],value='Yes',inplace=True)

In [33]:
df['Certified'].unique()

array(['Yes', 'No'], dtype=object)

In [34]:
df['Candidate Placed'].unique()

array(['Yes', 'No'], dtype=object)

In [35]:
df['Scheme'].unique()# There's only 1 unique scheme till yet, cause it's the data of one part of the dump!

array(['PMKVY'], dtype=object)

In [36]:
df['Job Role'].unique() #To know the different types of Job Roles Available!

array(['Trainee Associate Level 3', 'Sales Associate Level 4',
       'Assistant Electrician', 'Mason General',
       'Domestic Data Entry Operator Level 4',
       'Domestic IT Helpdesk Attendant Level 4',
       'Jewellery Retail - Jewellery Retail Sales Associate (Basic)',
       'Customer Care Executive (Call Centre) Level 4', 'Helper Mason',
       'Inventory Clerk', 'Warehouse Packer', 'Meet & Greet Officer',
       'Front Office Associate', 'Helper Construction Painter',
       'Helper Electrician', 'Coffee Plantation Worker',
       'Micro Irrigation Technician',
       'Installation Technician (Computing & Peripherals)',
       'Sewing Machine Operator',
       'Field Technician-Networking and Storage',
       'Field Technician Computing and Peripherals Level 4',
       'Food & Beverage Service-Steward Level 4',
       'CRM Domestic Non-Voice Level 4', 'Helper Shuttering Carpenter',
       'Broadband Technician',
       'Housekeeping Attendant (Manual Cleaning) Level 3',
       'Kitchen Steward', 'Trainee chef', 'Loader/Unloader',
       'Documentation Assistant', 'Consignment Booking Assistant',
       'Consignment Tracking Executive',
       'Solar PV Installer - Electrical',
       'Field Technician - Computing and Peripherals', 'Warehouse Picker',
       'Courier Delivery Executive', 'Domestic IT helpdesk Attendant',
       'Customer Care Executive - (Telecom Call Centre)',
       'Jewellery Retail - Jewellery Retail Sales Associate',
       'Mine Electrician', 'Domestic Data entry Operator',
       'Retail Sales Associate', 'Sewing Machine Operator - knits',
       'Business Correspondence & Business Facilitator',
       'Assistant Beauty Therapist', 'Self Employed Tailor',
       'Mobile Phone Hardware Repair Technician',
       'Junior Software Developer',
       'Accounts Executive - Accounts Payable and Receivable',
       'Draughtsman - Mechanical',
       'Lab Technician/ Assistant - Life Sciences', 'Hand Embroiderer',
       'Field Technician - Other Home Appliances',
       'LED Light Repair Technician', 'Handset Repair Engineer',
       'CRM Domestic Non-Voice', 'CCTV Installation Technician',
       'Goods & Services Tax (GST) Accounts Assistant',
       'TV Repair Technician',
       'Field Technician - Networking and Storage',
       'General Duty Assistant', 'F & B Service: Steward', 'IT-ITeS',
       'Telecom', 'Apparels', 'Logistics', 'Electronics & Hardware',
       'Green Jobs', 'Media', 'Construction', 'Beauty & Wellness',
       'Retail', 'Life Sciences', 'Tourism & Hospitality',
       'Capital Goods'], dtype=object)

In [37]:
df['Job Role'].unique().shape

(75,)

In [38]:
    states = df['Centre State'].unique().tolist()
    #center_name = df['Centre Name'].unique().tolist()
    job_role = df['Job Role'].unique().tolist()
    scheme = df['Scheme'].unique().tolist()

    # Multiple States Selection
    states_selection = st.multiselect('STATE :',
                                      states, default=states)  # Set default=states(if by default all values r needed!)

    # Multiple Projects Selection
   # center_name_selection = c4.multiselect('CENTER :',
    # center_name, default=center_name)

   # c3, c4 = st.columns(2)
    # Multiple States Selection
    job_role_selection = st.multiselect('JOB ROLE :',
                                        job_role, default=job_role)  # Set default=gener(if by default all values r needed!)
    # Multiple Projects Selection
    scheme_selection = st.multiselect('SCHEME :',
                                      scheme, default=scheme)
    # Filter Data Based on User Selection
    mask =(df['Centre State'].isin(states_selection)) & (
            df['Job Role'].isin(job_role_selection)) & (df['Scheme'].isin(scheme_selection))

2021-09-15 16:35:53.197
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\Acer\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [39]:
mask =  (df['Centre State'].isin(states_selection)) & (
            df['Job Role'].isin(job_role_selection)) & (df['Scheme'].isin(scheme_selection))

In [40]:
df.head()

,Candidate Name,Gender,Education Level,Centre State,Centre Name,Scheme,Job Role,Certified,Candidate Placed
0,PAVADA SAIKUMARI,Female,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes
1,CHELUBOYINA SAILATHA,Female,10th Class,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,No,No
2,DAMARASINGI RAMESH,Male,Polytechnic,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes
3,Boddana Vinodkumar,Male,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No
4,Dasari Satyannarayana,Male,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No

In [41]:
df[mask]

,Candidate Name,Gender,Education Level,Centre State,Centre Name,Scheme,Job Role,Certified,Candidate Placed
0,PAVADA SAIKUMARI,Female,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes
1,CHELUBOYINA SAILATHA,Female,10th Class,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,No,No
2,DAMARASINGI RAMESH,Male,Polytechnic,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,Yes
3,Boddana Vinodkumar,Male,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No
4,Dasari Satyannarayana,Male,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,Yes,No
...,...,...,...,...,...,...,...,...,...
40335,Botla Mounika,Female,10th Class,Telangana,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,Yes,No
40336,Gadam Deepthi,Female,12th Class,Telangana,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,No,No
40337,Lingubotu Deepika,Female,10th Class,Telangana,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,Yes,No
40338,Kallubhavi Lakshmi,Female,12th Class,Telangana,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,Yes,No
40339,GUDIYA KUMARI SINGH,Female,Under Graduate,Telangana,SynchroServe - TS - PMKK RangaReddy - Malkajgiri,PMKVY,Logistics,Yes,No

In [42]:
df[mask]['Candidate Name'].shape[0]

40340

In [43]:
(df[mask]['Certified']=="Yes").sum()

30441

In [44]:
(df[mask]['Candidate Placed']=="Yes").sum()

11518

In [45]:
(df[mask]['Candidate Placed']=="No").sum()

28822

In [46]:
 # Converting Categorical to Numerical Data to get the values count while plotting the data
df['Enrolled'] = 1  # A new column to know How many have enrolled!
df.loc[df['Certified'] == "Yes", 'Certified'] = 1
df.loc[df['Certified'] == "No", 'Certified'] = 0
df.loc[df['Candidate Placed'] == "Yes", 'Candidate Placed'] = 1
df.loc[df['Candidate Placed'] == "No", 'Candidate Placed'] = 0

In [47]:
df.head()

,Candidate Name,Gender,Education Level,Centre State,Centre Name,Scheme,Job Role,Certified,Candidate Placed,Enrolled
0,PAVADA SAIKUMARI,Female,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,1,1,1
1,CHELUBOYINA SAILATHA,Female,10th Class,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,0,0,1
2,DAMARASINGI RAMESH,Male,Polytechnic,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,1,1,1
3,Boddana Vinodkumar,Male,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,1,0,1
4,Dasari Satyannarayana,Male,Graduate,Andhra Pradesh,SynchroServe-AP-Vizianagaram-3 lamp,PMKVY,Trainee Associate Level 3,1,0,1

In [48]:
df[mask].shape

(40340, 10)